{% extends 'PttBundle:Default:layout.html.twig' %}
{% block body %}
	<div class="login-container content-block container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 ">
				<div class="container-fluid well">
				    <div class="row">
				    	<div class="content">
				    		{% if error %}
					            <div class="alert alert-danger">
					                <button type="button" class="close" data-dismiss="alert">×</button>
					                {{ error.message|trans({},'messages') }}
					            </div>
					        {% endif %}
					        <div class="col-xs-12">
					            <form action="{{ path('login_check') }}" method="post">
					                <div class="login-header">
					                	<h2>{{'login'|trans}}</h2>
					                </div>
					                <div class="row login-body">
														{% set params = {
															id : "username",
															name: "_username",
															placeholder: 'Username',
															value : last_username
														} %}

														{% include 'PttBundle:Form:fieldInput.html.twig' %}

														{% set params = {
															type: "password",
															id : "password",
															name: "_password",
															placeholder: 'password' | trans,
														} %}

														{% include 'PttBundle:Form:fieldInput.html.twig' %}

														{% set params = {
															id : "_remember_me",
															name: "remember_me",
															label: "Remember me"
														} %}

														{% include 'PttBundle:Form:fieldCheckbox.html.twig' %}

					                	<!-- div class="form-group col-xs-12">
						                    <input type="text" class="form-control" id="username" placeholder="{{'username'|trans}}" name="_username" value="{{ last_username }}">
						                </div >
						                <div class="form-group col-xs-12">
						                    <input type="password" class="form-control" id="password" name="_password" placeholder="{{'password'|trans}}">
						                </div>
						                <div class="form-group col-xs-12">
						                    <div>
						                        <div class="checkbox">
						                            <input type="checkbox" anem="_remember_me"> <label>{{'remember_me'|trans}}</label>
						                        </div>
						                    </div>
						                </div-->
						                <div class="form-group col-xs-12">
						                    <div class="button">
						                        <button type="submit" class="btn btn-default">{{'sign_in'|trans}}</button>
						                    </div>
						                </div>
					                </div>

					            </form>
					        </div>
				    	</div>

				    </div>
			    </div>
			</div>
		</div>
	</div>


{% endblock %}
