{% extends 'PttBundle:Default:base.html.twig' %}
{% block content %}
	<div class="content hide" ng-controller="editController">
		<form action="{{ path('edit', {entity : entityConfigurationInfo.entityName, id : app.request.get('id')}) }}" class="edit" method="post" enctype="multipart/form-data">
			<div class="content-header header-line">
				{% if page.title is defined %}
					<h2 class="title">{{ page.title }}</h2>
				{% endif %}
				<div class="actions">
					<input type="hidden" name="_action" ng-model="action">
					<a ng-click="saveEvent($event, 'edit')" class="btn btn-sm btn-success" >{{ 'save' | trans }}</a>
					<a ng-click="saveEvent($event, 'list')" class="btn btn-sm btn-info">{{ 'saveAndClose' | trans }}</a>
					<a ng-click="saveEvent($event, 'create')" class="btn btn-sm btn-info">{{ 'saveAndNew' | trans }}</a>
					{%- if app.request.get('id') != null -%}
						<a ng-click="saveEvent($event, 'copy')" class="btn btn-sm btn-info">{{ 'saveAsCopy' | trans }}</a>
					{%- endif -%}
					<a href="{{ path('list', {entity : entityConfigurationInfo.entityName}) }}" class="btn btn-sm btn-danger">{{ 'close' | trans }}</a>
				</div>
			</div>
            {{ form.createView() | raw }}
        </form>
    </div>
{% endblock %}
