{% extends 'PttBundle:Default:base.html.twig' %}
{% block content %}
	<div class="content ng-hide" ng-controller="editController">
		<form action="{{ path('edit', {entity : entityConfigurationInfo.entityName, id : app.request.get('id')}) }}" class="edit" method="post" enctype="multipart/form-data">
			<div class="content-header header-line">
				{% if page.title is defined %}
					<h2 class="title">{{ page.title }}</h2>
				{% endif %}
				<div class="actions">
					<input type="submit" class="btn btn-sm btn-success" name="save" value="{{'save' | trans}}" />
					{% if app.request.get('id') == null %}
						<input type="submit" class="btn btn-info btn-sm" value="{{ 'save_and_create_another' | trans }}" />
					{% endif %}
					<a href="{{ path('list', {entity : entityConfigurationInfo.entityName}) }}" class="btn btn-sm btn-danger">{{ 'cancel' | trans }}</a>
				</div>
			</div>
            {{ form.createView() | raw }}
        </form>
    </div>
{% endblock %}