{% extends 'PttBundle:Default:base.html.twig' %}
{% block content %}
{% if page.title is defined %}
	<h1>{{page.title|trans}}</h1>
{% endif %}
	<div class="boxes">
	    {% for box in boxes %}
		    <div class="box">
				<div class="box-inner">
			        <h4>{{box.title}}</h4>
			        <p>{{box.value}}</p>
			        <a href="{{ path(box.link.name, box.link.params) }}">ver</a>
				</div>
		    </div>
	    {% endfor %}
	</div>
	<div class="dashboard-blocks">
		<div class="dashboard-block">
			<div class="dashboard-block-inner">
				<h4>Productos más ofrecidos</h4>
				<ul class="dashboard-block-list">
					{% for material in topMaterials %}
					    <li class="dashboard-block-list-item">{{material.title}}<span class="value">{{material.total}} unidades</span></li>
				    {% endfor %}
				</ul>
			</div>
		</div>
		<div class="dashboard-block">
			<div class="dashboard-block-inner">
				<h4>Actividades más demandadas</h4>
				<ul class="dashboard-block-list">
					{% for type in topTypes %}
					    <li class="dashboard-block-list-item">{{type.title}} <span class="value">{{type.total}} pedidos</span></li>
				    {% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
