{% import 'PttBundle:Default:sprites.html.twig' as sprites %}

{% import _self as sidebar %}
<div class="sidebar">
	<div class="sidebar-inner">
		<div class="menu-container">
			{{ sidebar.menu(info('admin').sidebar, true) }}
		</div>
		<span class="copyright">Crowd Studio - 1.9.5</span>
	</div>	
</div>

{% macro menu(list, principal) %}
	{% import _self as sidebar %}
    <ul{% if principal %} class="menu"{% endif %}>
    	{% for key,info in list %}
    		{% if isAllowed(info) %}
    			{% if info.path is defined %}
					{# li final #}
					<li{% if info.class is defined %} class="{{ info.class }}"{% endif %}{% if app.request.uri|slice(app.request.getSchemeAndHttpHost()|length) == path(info.path, info.parameters|default({})) %} class="selected"{% endif %}>
						<a href="{{ path(info.path, info.parameters|default({})) }}">
							<span>{{info.label|trans}}</span>
						</a>
					</li>
    			{% elseif info.subSections | length > 0 %}
    				{% set childs = sidebar.menu(info.subSections) %}
					<li class="subSections{% if 'class="selected"' in childs | trim %} selected{% endif %}">
						<a href="#" >{{info.label|trans}}</a>
						{{ childs }}
					</li>
    			{% endif %}
    		{% endif %}
    	{% endfor %}
    </ul>
{% endmacro %}