{% import 'PttBundle:Default:sprites.html.twig' as sprites %}

{% import _self as sidebar %}
<div class="sidebar">
	<div class="sidebar-inner">
		<div class="menu-container">
			{{ sidebar.menu(info('admin').sidebar, true) }}
		</div>
		<span class="copyright">Crowd Studio - 1.9.5</span>
	</div>	
</div>

{% macro menu(list, principal) %}
	{% import _self as sidebar %}
    <ul{% if principal %} class="menu"{% endif %}>
    	{% for key,item in list %}
    		{% if isAllowed(item) %}
    			{% if item.path is defined %}
    				{# define classes #}
					{% set class = "item" %}
					{% if item.class is defined %}
						{% set class = class ~ ' ' ~ item.class %}
					{% endif %}
					{% if app.request.uri | slice(app.request.getSchemeAndHttpHost() | length) == path(item.path, item.parameters | default({})) %}
						{% set class = class ~ ' current-item-selected' %}
					{% endif %}
					
					{# create submenu if list (list & create new ) #}
					{% set childs = false %}
					{% if item.path == 'list' and item.nobucle is not defined %}
						{% set array = [{
								path: 'list',
								parameters: item.parameters,
								label: 'viewAll' | trans ~ ' ' ~ item.label,
								nobucle:true, 
							},{
								path: 'create',
								parameters: item.parameters,
								label: 'createNew' | trans,
							}
							] %}
						{% set childs = sidebar.menu(array) %}
					{% endif %}

					<li{{class != '' ? (' class="' ~ class ~ '"') | raw }}>
						<a href="{{ path(item.path, item.parameters|default({})) }}">
							<span>{{item.label|trans}}</span>
						</a>
						{% if childs %}
							{{ childs }}
						{% endif %}
					</li>
    			{% elseif item.subSections | length > 0 %}
    				{# create the childs string #}
    				{% set childs = sidebar.menu(item.subSections) %}

    				{# search the first url active #}
    				{% set precondition = false %}
					{% set itemWhile = item.subSections[0] %}
					{% for i in 0..10000 if not precondition %}
						{% if itemWhile.path is defined %}
							{% set precondition = true %}
						{% else %}
							{% set itemWhile = itemWhile.subSections[0] %}
						{% endif %}
					{% endfor %}
    				
					<li class="subSections{% if 'current-item-selected' in childs | trim %} current-item-selected{% endif %}">
						<a href="{{ path(itemWhile.path, itemWhile.parameters|default({})) }}" >{{item.label|trans}}</a>
						{{ childs }}
					</li>
    			{% endif %}
    		{% endif %}
    	{% endfor %}
    </ul>
{% endmacro %}