{# cutter#}
{% macro cutter(text, params) %}
	{% set params = params | extend ({
		length: 120,
		markdown: true
	}) %}
	{%- if text -%}
		{% if params.markdown %}
			{% if text | length > params.length %}
				{{ (text | slice(0, params.length) ~ '…')  | md2html }}
			{% else %}
				{{ (text | slice(0, params.length)) | md2html }}
			{% endif %}
		{% else %}
			{% if text | length > params.length %}
				{{ (text | slice(0, params.length) ~ '…') }}
			{% else %}
				{{ (text | slice(0, params.length)) }}
			{% endif %}
		{% endif %}
	{%- endif -%}
{% endmacro %}

{# getSize#}
{% macro getSize(string) %}
	{{- ' col-xs-12' -}} 
	{%- if string == 'short' -%}
		{{- ' col-md-3' -}}
	{%- elseif string == 'small' -%}
		{{- ' col-md-4' -}}
	{%- elseif string == 'medium' -%}
	    {{- ' col-md-6' -}}
	{%- elseif string == 'big' -%}
		{{- ' col-md-9' -}}
	{#%- elseif string == 'long' -%#}
	    
	{%- endif -%}
{% endmacro %}


{# attrGroup#}
{% macro attrGroup(list) %}
	{% import _self as utilities %}
	{%- for item in list -%}
		{%- if item is iterable -%}
	    	{{ utilities.attr(item[0], item[1]) }}
    	{%- else -%}
    		{{ utilities.attr(item) }}
    	{%- endif -%}
	{%- endfor -%}
{% endmacro %}

{# attr#}
{% macro attr(name, value) %}
	{%- if value is null -%}
		{{ (' ' ~ name ) }}
	{%- else -%}
		{{- value != false and value != "" ? (' ' ~ name ~ '="' ~ value ~ '"') | raw : '' -}}
	{%- endif -%}
{% endmacro %}

{# embed #}
{% macro embed(data, params) %}
	{% if params == NULL %}{% set params = {} %}{% endif %}
	{% set params = params | extend ({
		'key': 'video',
	}) %}
	<div class="embed-block">
		<div class='embed-container'>
			<iframe src='https://hypermediavideo.com/embed/{{attribute(data, params.key)}}' frameborder='0' allowfullscreen></iframe>
		</div>
	</div>
{% endmacro %}