{% extends 'PttBundle:Default:base.html.twig' %}
{% block content %}
	<div class="content-header">
		{% if page.title is defined %}
			<h2 class="title">{{ page.title }}</h2>
			<div class="actions">
				{% if sortable %}
					<a class="btn btn-default btn-sm btn-sort" data-order="{{'order' | trans}}" data-edit="'{{'edit'|trans}}">{{ 'order' | trans }}</a>
				{% endif %}
				{% if filters|length > 0 %}
					<a class="btn btn-default btn-sm btn-filter">{{ 'filter' | trans }}</a>
				{% endif %}
				<a class="btn btn-default btn-sm" href="{{ path('create', {entity: entityConfigurationInfo.entityName}) }}">{{ 'create' | trans }} {{entityInfo.lowercase}}</a>
			</div>
		{% endif %}
	</div>
	{% if sortable %}<div class="sortable-list">{% endif %}
		{% if filters|length > 0 %}
			<div class="filters well">
				<form action="{{ path('list', {entity : entityConfigurationInfo.entityName}) }}" method="post" name="filter-{{ entityConfigurationInfo.entityName }}" class="row" style="margin:0;padding:0;">
					<div class="filters-header">
						<h3>Filters</h3>
							<div class="actions">
							<a href="{{ path('list', {entity : entityConfigurationInfo.entityName, filter:'reset'}) }}" class="btn btn-danger btn-cancel btn-xs">{{'reset_filters'|trans}}</a>
							<button type="submit" class="btn btn-primary btn-save btn-xs">{{'filter'|trans}}</button>
						</div>
					</div>
					<div class="filters-content">
						{% for key,filter in filters %}
							{% if filter.type == 'text' %}
								<div class="form-group">
									<input class="form-control" type="text" name="filter-{{ entityConfigurationInfo.entityName }}-{{ key }}" placeholder="{{ filter.label }}" value="{{ filter(key, entityConfigurationInfo.entityName) }}">
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</form>
			</div>
		{% endif %}
		<div class="content-inner">
			{% if rows | length > 0 %}
				<table class="table table-striped">
					<thead>
						<tr>
							{% if sortable %}<td class="handle hidden">Order</td>{% endif %}
							{% for field in fields %}
								<td class="{{ field.primary is defined and field.primary ? '' : 'hidden-xs'}}">
									{%- if sortable -%}
										{{ field.label }}
									{%- else -%}
										<a href="{{ path('list', {entity : entityConfigurationInfo.entityName, order : field.field}) }}">{%- if order[0] == field.field -%}{{ attribute(sprites,order[1]) }}{%- endif -%}{{field.label}}</a>
									{%- endif -%}
								</td>
							{% endfor %}
							<td class="actions"></td>
						</tr>
					</thead>
					<tbody>
						{% for row in rows %}
							<tr class="list" {% if sortable %}data-id="{{row.id}}"{% endif %}>
							{% if sortable %}<td class="handle hidden"></td>{% endif %}
								{% for field in fields %}
									<td class="{{ field.primary is defined and field.primary ? '' : 'hidden-xs'}}">
									{%- if row | dynamicValue(field.field).timestamp is defined -%}
										{{ row | dynamicValue(field.field).date|date("d/m/Y") }}
									{%- else -%}
										{{ row | dynamicValue(field.field) }}
									{%- endif -%}</td>
								{% endfor %}
								<td class="actions">
									<a href="{{ path('edit', {entity : entityConfigurationInfo.entityName, id : row.id}) }}" title="Edit" class="list-editar">{{ sprites.edit() }}</a>
									<a href="{{ path('delete', {entity : entityConfigurationInfo.entityName, id : row.id}) }}" data-alert='{{ 'delete_the_entity_name'|trans([entityInfo.lowercase, row]) }}' title="Delete" class="list-eliminar">{{ sprites.delete() }}</a>
									</td>
								</tr>
						 {% endfor %}
					 </tbody>
				 </table>
				{%- if pagination is defined and pagination.numberOfPages is defined and pagination.numberOfPages > 1 -%}
					<div class="pagination-block">
						{% include 'PttBundle:Default:pagination.html.twig' %}
					</div>
				{%- endif -%}
			{% else %}
				<p>{{'no_results_found'|trans}}</p>
			{% endif %}
		</div>
	{% if sortable %}</div>{% endif %}
{% endblock %}