{% extends 'PttBundle:Default:base.html.twig' %}
{% block content %}
	<div class="content hide" ng-controller="listController">
		<div class="content-header header-line">
			{% if info.actualPath.title is defined %}
				<h2 class="title">{{ 'listTitle' | trans | replace({'%entityname%': info.actualPath.title}) | capitalize  }}</h2>
			{% endif %}
			<div class="actions">
				{% if data.sortable %}
					<a ng-show="!changeOrder" ng-click="activeOrderEvent($event)" class="btn btn-default btn-sm btn-sort">{{ 'order' | trans }}</a>
					<a ng-show="changeOrder" ng-click="cancelOrderEvent($event)" class="btn btn-sm btn-danger">{{ 'cancel' | trans }}</a>
					<a ng-show="changeOrder" ng-click="saveOrderEvent($event,'{{ path('order',{entity:'sortable'}) }}')" class="btn btn-sm btn-success">{{ 'save' | trans }}</a>
				{% endif %}
				{% if data.filters|length > 0 %}
					<a ng-click="showFilters = !showFilters" class="btn btn-default btn-sm btn-filter" ng-class="{'btn-primary': showFilters}">{{ 'filters' | trans }}</a>
				{% endif %}
				<a class="btn btn-success btn-sm" ng-show="!changeOrder" href="{{ path('create', {entity: info.entityName}) }}">{{ 'createNew' | trans }} {{ info.actualPath.title is defined ? info.actualPath.title }}</a>
			</div>
		</div>
		{% if data.filters|length > 0 %}
			<div class="filters well" ng-show="showFilters" active-filters="{{ data.activeFilters | json_encode }}">
				<form action="{{ path('list', {entity : info.entityName}) }}" method="post" name="filter-{{ info.entityName }}" class="row" style="margin:0;padding:0;">
					<div class="filters-header header-line">
						<h3>Filters</h3>
							<div class="actions">
							<a href="{{ path('list', {entity : info.entityName, filter:'reset'}) }}" class="btn btn-danger btn-cancel btn-xs">{{ 'clean' | trans }}</a>
							<button type="submit" class="btn btn-success btn-save btn-xs">{{ 'apply' | trans }}</button>
						</div>
					</div>
					<div class="filters-content">
						{% for key,f in data.filters %}
							{% set name = 'filter-' ~ info.entityName ~ '-' ~ f.field %}
							{% if f.type == 'text' %}
								<div class="form-group">
									<input class="form-control" type="text" name="{{ name }}" placeholder="{{ f.label }}"{{ attribute(data.activeFilters, name) is defined ? (' value="' ~ attribute(data.activeFilters, name) ~ '"') | raw : '' }}>
								</div>
							{% elseif f.type == 'select' %}
								<div class="form-group">
									<select class="form-control" type="select" name="{{ name }}">
										<option value="" selected="">{{ f.label }}</option>
										<option disabled="" value="---">---</option>
										{% for value,label in f.options %}
											<option value="{{ value }}"{{ attribute(data.activeFilters, name) is defined and attribute(data.activeFilters, name) == value ? (' selected') | raw : '' }}>{{ label }}</option>
										{% endfor %}
									</select>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</form>
			</div>
		{% endif %}
		<div class="content-inner">
			{% if data.table.rows | length > 0 %}
				<table class="table table-striped">
					<thead>
						<tr>
							{% if data.sortable %}<td class="handle" ng-show="changeOrder"></td>{% endif %}
							{% for field in data.table.fields %}
								<td{{ field.primary is defined and field.primary ? '' : ' class="hidden-xs"' | raw}}>
									{%- if data.sortable -%}
										{{ field.label }}
									{%- else -%}
										<a href="{{ path('list', {entity : info.entityName, order : field.field}) }}">{%- if data.order is not null and data.order[0] == field.field -%}{{ attribute(sprites, data.order[1]) }}{%- endif -%}{{field.label}}</a>
									{%- endif -%}
								</td>
							{% endfor %}
							<td class="actions" ng-show="!changeOrder"></td>
						</tr>
					</thead>
					<tbody id="items" >
						{% for row in data.table.rows %}
							<tr{% if data.sortable %} data-id="{{row.id}}"{% endif %} ng-class="{'draggable': changeOrder}">
							{% if data.sortable %}<td class="handle" ng-show="changeOrder">{{ sprites.order() }}</td>{% endif %}
								{% for field in data.table.fields %}
									<td class="{{ field.primary is defined and field.primary ? '' : 'hidden-xs'}}">
									{%- if row | dynamicValue(field.field).timestamp is defined -%}
										{{ row | dynamicValue(field.field).date|date("d/m/Y") }}
									{%- else -%}
										{{ row | dynamicValue(field.field) }}
									{%- endif -%}</td>
								{% endfor %}
								<td class="actions" ng-show="!changeOrder">
									<a href="{{ path('edit', {entity : info.entityName, id : row.id}) }}" title="Edit">{{ sprites.edit() }}</a>
									<a href="{{ path('delete', {entity : info.entityName, id : row.id}) }}" alert='{{ info.actualPath.title is defined ? 'delete_the_entity_name'|trans([info.actualPath.title, row]) }}' title="Delete">{{ sprites.delete() }}</a>
									</td>
								</tr>
						 {% endfor %}
					 </tbody>
				 </table>
				{%- if data.pagination is defined and data.pagination.maxPages is defined and data.pagination.maxPages > 1 -%}
					<div class="pagination-block">
						{% include 'PttBundle:Default:pagination.html.twig' %}
					</div>
				{%- endif -%}
			{% else %}
				<p>{{'no_results_found'|trans}}</p>
			{% endif %}
		</div>
	</div>
{% endblock %}
