{%- if params -%}
	{% import 'PttBundle:Default:utilities.html.twig' as utilities %}
	{% set params = params | extend({
		elementClass: false,
		outterClass: false,
		name: false,
		id: false,
		value: false,
		checked: false,
		label: false,
		replace: false,
		size: 'long',
	}) %}

	{% set validations = {
		mapped: true,
		required: false,
	} | merge (validations | default({}) )  %}

	<div class="form-group checkbox {{utilities.getSize(params.size)}}{{ params.outterClass ? ' ' ~ params.outterClass : '' }}">
		<div class="errors" {{- ( params.name is defined ? ' id="error-' ~ params.name ~ '"' : '' ) | raw -}}></div>
		<label>
			<input type="checkbox" class="checkbox{{ params.elementClass ? ' ' ~ params.elementClass : '' }}"{{ utilities.attrGroup([ ['name', params.name], ['id', params.id], ['value', params.value], ['data-parsley-errors-container', '#error-' ~ params.name] ]) }}{{ validations.required ? ' required' : '' }}{{ params.value == 1 ? ' checked' : '' }}>
			{%- if params.label and params.label != "" -%}
				{%- set label = params.label -%}
				{%- for key,item in params.replace %}
					{%- set label = label | replace({(key): item }) -%}
				{%- endfor -%}
				{{- label | raw -}}{{ validations.required ? ' *' : '' }}
			{%- endif -%}
		</label>
	</div>
{%- endif -%}
