
{%- if params -%}
	{% import 'PttBundle:Default:utilities.html.twig' as utilities %}

	{% set params = {
		type: "text",
		name: false,
		value: false,
	} | merge (params) %}

	{% set options = {
		outterClass: false,
		elementClass: false,

		label: false,
		placeholder: false,
		errors: true,

		required: false,
		maxlength: 255,
		minlength: false,
		equal: false,
	} | merge (params.options) %}

	{%- if params.type != 'hidden' -%}
	<div class="form-group col-xs-12{{ options.outterClass ? ' ' ~ options.outterClass : '' }}">
	{%- endif -%}
		{%- if options.label and options.label != "" -%}
			<label{{ utilities.attr('for', params.name) }}>{{ options.label }}{{ options.required ? ' *' : '' }}</label>
		{%- endif -%}
		{%- if params.type != 'hidden' and options.errors -%}
		<div class="errors" {{- ( params.name is defined ? ' id="error-' ~ params.name ~ '"' : '' ) | raw -}}></div>
		{%- endif -%}
			<input class="form-control{{ options.elementClass ? ' ' ~ options.elementClass : '' }}"{{ utilities.attrGroup([ ['type', params.type], ['name', params.name], ['placeholder', options.placeholder], ['value', params.value], ['id', params.name], ['data-parsley-errors-container', options.errors ? '#error-' ~ params.name : false ],['maxlength', options.maxlength],['minlength', options.minlength] ]) }}{{ ( options.equal ? ' data-parsley-equalto="#' ~ options.equal ~ '"' : '') | raw }}{{ options.required ? ' required' : '' }}>
	{%- if params.type != 'hidden' -%}
	</div>
	{%- endif -%}
{%- endif -%}